<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chinatsp.settinglib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--增加android.permission.QUERY_ALL_PACKAGES，防止启动其它应用服务时会出现找不到相应服务问题-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application>
        <service
            android:name="com.chinatsp.settinglib.service.VehicleService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.chinatsp.vcu.actions.USER_SETTING_RECOVER" />
                <action android:name="com.chinatsp.vcu.actions.ACOUSTIC_CONTROLER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="chinatsp.intent.action.FACTORY_RESET" />
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
