<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chinatsp.vehiclesetting"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0">


    <uses-permission android:name="com.chinatsp.permission.STANDBY"/>

    <uses-permission android:name="android.permission.TETHER_PRIVILEGED" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MANAGE_NETWORK_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.chinatsp.vehiclesetting.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label,android:theme">
        <activity
            android:name="com.chinatsp.vehiclesetting.MainActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter android:priority="11">
                <action android:name="android.settings.SETTINGS" />
                <action android:name="android.settings.WIRELESS_SETTINGS" />
                <action android:name="android.settings.WIFI_SETTINGS" />
                <action android:name="android.settings.BLUETOOTH_SETTINGS" />
                <action android:name="android.settings.SOUND_SETTINGS" />
                <action android:name="android.settings.DISPLAY_SETTINGS" />
                <action android:name="android.settings.LOCALE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.chinatsp.vehiclesetting.VehicleService"
            android:exported="true"
            android:permission="com.chinatsp.permission.STANDBY">
            <intent-filter>
                <action android:name="com.chinatsp.START_STANDBY" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.chinatsp.vehiclesetting.receivers.BootReceiver"
            android:exported="true"
            android:permission="com.chinatsp.permission.STANDBY">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.chinatsp.ACTION_CHINATSP_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.chinatsp.vehiclesetting.receivers.HardKeyReceive">
            <intent-filter android:priority="2147483647">
                <action android:name="com.coagent.intent.action.KEY_CHANGED" />
                <action android:name="chinatsp.intent.broadcast.USER_OFF" />
                <action android:name="com.chinatsp.systemui.ACTION_START_SPLIT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
